<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li style="margin-right:10px;"><a href="/">Home</a></li>
        <li style="margin-right:10px;"><a href="/">로그아웃</a></li>
        <li style="margin-right:10px;"><a href="/member/memberList">사용자 관리</a></li>
        <li style="margin-right:10px;"><a href="/item/itemList">상품 관리</a></li>
        <li style="margin-right:10px;"><a href="/order/orderList">주문 관리</a></li>
    </ul>
</div>
